<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
    th:replace="base::Layout(~{::section})">

<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

</head>

<body>

    <section>
        <div class="container d-flex justify-content-center">
            <div class="card d" style="width: 40rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">Add Product</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                        <form th:action="processAddProduct" method="POST" th:object="${product}" enctype="multipart/form-data"> <!---->
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-8">
                                    <div class="text-left">
                                        <label for="prod_name">Product Name</label>
                                    </div>
                                    <input type="text" class="form-control" id="prod_name" name="prod_name" th:field="${product.prod_name}">
                                </div>
                            </div>
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-8">
                                    <div class="text-left">
                                        <label for="description">DESCRIPTION</label>
                                    </div>
                                    <textarea type="text" class="form-control col-md-8S" id="description" name="description" th:field="${product.description}"></textarea>
                                </div>
                            </div>
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-4">
                                    <label for="brand">BRAND</label>
                                    <select id="brand" class="form-control" name="brand" th:field="${product.brand}">
                                        <option selected value="" text="SELECT BRAND"></option>
                                        <option th:each="brand:${brands}" th:text="${brand.brand_name}" th:value="${brand.brand_name}"></option>
                                    </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="category">CATEGORY</label>
                                    <select id="category" class="form-control" name="category" th:field="${product.category}">
                                        <option selected value="" text="SELECT CATEGORY"></option>
                                        <option th:each="category:${categories}" th:text="${category.category_name}" th:value="${category.category_name}"></option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-4">
                                    <label for="size">SIZE (optional)</label>
                                    <select id="size" class="form-control" name="size" th:field="${product.size}"> 
                                        <option selected th:value="${''}">SELECT SIZE</option>
                                        <option th:value="${'6'}">6</option>
                                        <option th:value="${'7'}">7</option>
                                        <option th:value="${'8'}">8</option>
                                        <option th:value="${'9'}">9</option>
                                        <option th:value="${'10'}">10</option>
                                        <option th:value="${'11'}">11</option>
                                        <option th:value="${'12'}">12</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="gender">GENDER</label>
                                    <select id="gender" class="form-control" name="gender" th:field="${product.gender}">
                                        <option selected th:value="${''}">SELECT GENDER</option>
                                        <option th:value="${'Male'}">Male</option>
                                        <option th:value="${'Female'}">Female</option>
                                        <option th:value="${'Unisex'}">Unisex</option>
                                        <option th:value="${'Kids'}">Kids</option>

                                    </select>

                                </div>
                            </div>

                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-4">
                                    <label for="quantity">QUANTITY (optional)</label>
                                    <input type="text" class="form-control" id="quantity" name="quantity" th:field="${product.quantity}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="price">PRICE</label>
                                    <input type="text" class="form-control" id="price" name="price" th:field="${product.price}">
                                </div>
                            </div>

                            <div class="form-row d-flex justify-content-center">
                                <div class="custom-file col-md-8 mb-2">
                                    <input type="file" class="custom-file-input" id="img1" accept="image/*" name="img1" th:field="${product.img1}">
                                    <label class="custom-file-label" for="img1">Upload Image 1</label>
                                </div>
                                <div class="custom-file col-md-8 mb-2">
                                    <input type="file" class="custom-file-input" id="img2" accept="image/*" name="img2" th:field="${product.img2}">
                                    <label class="custom-file-label" for="img2">Upload Image 2</label>
                                </div>
                                <div class="custom-file col-md-8 mb-2">
                                    <input type="file" class="custom-file-input" id="img3" accept="image/*" name="img3" th:field="${product.img3}">
                                    <label class="custom-file-label" for="img3">Upload Image 3</label>
                                </div>
                            </div>


                            <div class="form-row d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary my-3 col-md-8">Add Product</button>
                            </div>
                        </form>
                </div>
            </div>

        </div>

    </section>

</body>

</html>