<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="registerCard primary-color">

                        <h1 class="text-center">REGISTER</h1>
                        
                        <form th:action="@{/signupSubmit}" method="post" th:object="${user}" >

                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name"
                                        placeholder="Enter your First Name" th:value="${user.first_name}"/>
                                </div>
                                <div class="mb-3 col-6" col-6>
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name"
                                        placeholder="Enter your Last Name" th:value="${user.last_name}"/>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="Username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Enter your Username" th:value="${user.username}"/>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Enter your Password" th:value="${user.password}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Enter your Email" th:value="${user.email}"/>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Enter your Phone No." th:value="${user.phone}"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="address" class="form-label">Address</label>
                                    <textarea class="form-control" id="address" name="address"
                                        placeholder="Enter your Address" th:value="${user.address}"></textarea>
                                </div>

                            <div class="container text-center pt-2">
                                <button type="submit" class="btn btn-info">Sign Up</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

</body>
</html>